* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: Menlo, Consolas, Monaco, 'Courier New', monospace;
}

img {
  display: block;
}

header,
main,
footer {
  padding: 1rem;
  font-size: 14px;
}

main {
  min-height: 640px;
}

p {
  margin: 1rem;
  line-height: 1.4;
}

header {
  max-width: 40rem;
  margin: 2rem auto 1rem auto;
  text-align: center;
}

header h1 {
  font-size: 28px;
  line-height: 1;
  margin: 0.5rem;
}

header p {
  font-size: 14px;
}

.suggest {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

img.toast {
  max-width: 8rem;
  min-height: 8rem;
  margin: 0 auto;
  display: inline;
}

ul {
  max-width: 34rem;
  margin: 0 auto;
  padding: 1rem;
}

li {
  list-style-type: none;
  margin-bottom: 0.75rem;
  font-size: 14px;
  line-height: 1.5;
}

span {
  margin-right: 0.25em;
}

time {
  color: #999;
  margin-left: 0.5em;
  font-size: 0.8em;
}

.kofi {
  text-align: center;
}

.kofi a img {
  display: inline-block;
  display: none;
  width: 1.25rem;
  margin-right: 0.25em;
  vertical-align: middle;
}

footer {
  margin-top: 5rem;
  text-align: center;
}

@media only screen and (min-width: 22rem) {
  header h1 {
    font-size: 32px;
  }
}

@media only screen and (min-width: 30rem) {
  header h1 {
    font-size: 48px;
  }
}

@media only screen and (min-width: 40rem) {
  header h1 {
    font-size: 64px;
  }
  header p {
    font-size: 16px;
  }
}
