* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: Menlo, Consolas, Monaco, 'Courier New', monospace;
  background-color: #d0d0d0;
  color: #3a3a3a;
  font-weight: 400;
}

main {
  padding: 1rem;
}
